div(class="main-header")
  div(class="main-header-logo")
    div(class="logo-header" data-background-color="dark")
      a(class="logo" href="/admin/index.html")
        span(class="navbar-brand fw-bold text-white") Fadmin
      div(class="nav-toggle")
        button(class="btn btn-toggle toggle-sidebar")
          i(class="gg-menu-right")
        button(class="btn btn-toggle sidenav-toggler")
          i(class="gg-menu-left")
      button(class="topbar-toggler more")
        i(class="gg-more-vertical-alt")
  nav(class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom")
    div(class="container-fluid")
      ul(class="navbar-nav topbar-nav ms-auto align-items-center")
        li(class="nav-item topbar-icon dropdown hidden-caret")
          a(id="notifDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            i(class="fa fa-bell")
            span(class="notification") 3
          ul(class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown")
            li
              div(class="dropdown-title") Bạn có 3 thông báo mới
            li
              div(class="notif-scroll scrollbar-outer")
                div(class="notif-center")
                  a(href="#")
                    div(class="notif-icon notif-primary")
                      i(class="fa fa-user-plus")
                    div(class="notif-content")
                      span(class="block") Người dùng mới đăng ký
                      span(class="time") 5 phút trước
                  a(href="#")
                    div(class="notif-icon notif-success")
                      i(class="fa fa-comment")
                    div(class="notif-content")
                      span(class="block") Phản hồi mới từ người dùng
                      span(class="time") 12 phút trước
                  a(href="#")
                    div(class="notif-icon notif-danger")
                      i(class="fa fa-exclamation-triangle")
                    div(class="notif-content")
                      span(class="block") Cảnh báo hệ thống
                      span(class="time") 17 phút trước
        li(class="nav-item topbar-user dropdown hidden-caret")
          a(class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false")
            div(class="avatar-sm")
              img(class="avatar-img rounded-circle" src=admin.avatar alt="avatar")
            span(class="profile-username")
              span(class="op-7") #{admin.username}
              span(class="fw-bold") #{admin.role === 'root_admin' ? 'Root Admin' : 'Quản lý nội dung'}
          ul(class="dropdown-menu dropdown-user animated fadeIn")
            div(class="dropdown-user-scroll scrollbar-outer")
              li
                div(class="user-box")
                  div(class="avatar-lg")
                    img(class="avatar-img rounded" src=admin.avatar alt="avatar")
                  div(class="u-text")
                    h4 #{admin.username}
                    p(class="text-muted") #{admin.email}
                    a(class="btn btn-xs btn-secondary btn-sm" href=`${prefixAdmin}/auth/profile`) Cài đặt tài khoản
              li
                div(class="dropdown-divider")
                a(class="dropdown-item" href=`${prefixAdmin}/auth/logout`) Đăng xuất

