div(class="sidebar" data-background-color="dark")
  div(class="sidebar-logo")
    div(class="logo-header" data-background-color="dark")
      a(class="logo" href=`${prefixAdmin}/dashboard`)
        span(class="navbar-brand fw-bold text-white") Fadmin
      div(class="nav-toggle")
        button(class="btn btn-toggle toggle-sidebar")
          i(class="gg-menu-right")
        button(class="btn btn-toggle sidenav-toggler")
          i(class="gg-menu-left")
      button(class="topbar-toggler more")
        i(class="gg-more-vertical-alt")
  div(class="sidebar-wrapper scrollbar scrollbar-inner")
    div(class="sidebar-content")
      ul(class="nav nav-secondary")
        li(class="nav-item active")
          a(href=`${prefixAdmin}/dashboard`)
            i(class="fas fa-home")
            p Dashboard
        li(class="nav-item")
          a(href=`${prefixAdmin}/users`)
            i(class="fas fa-users")
            p Quản lý người dùng
        li(class="nav-item")
          a(class="collapsed" data-bs-toggle="collapse" href="#contentClassification" aria-expanded="false")
            i(class="fas fa-tags")
            p Phân loại nội dung
            span(class="caret")
          div(id="contentClassification" class="collapse")
            ul(class="nav nav-collapse")
              li
                a(href=`${prefixAdmin}/categories/levels`)
                  span(class="sub-item") Cấp độ
              li
                a(href=`${prefixAdmin}/categories/topics`)
                  span(class="sub-item") Chủ đề
              li
                a(href=`${prefixAdmin}/categories/types`)
                  span(class="sub-item") Loại
        li(class="nav-item")
          a(class="collapsed" data-bs-toggle="collapse" href="#contentManagement" aria-expanded="false")
            i(class="fas fa-file-alt")
            p Quản lý nội dung
            span(class="caret")
          div(id="contentManagement" class="collapse")
            ul(class="nav nav-collapse")
              li
                a(href=`${prefixAdmin}/ws`)
                  span(class="sub-item") Luyện viết câu
              li
                a(href=`${prefixAdmin}/wp`)
                  span(class="sub-item") Luyện viết đoạn văn
              li
                a(href=`${prefixAdmin}/speaking-sentence`)
                  span(class="sub-item") Luyện phát âm (danh sách câu)
              li
                a(href=`${prefixAdmin}/speaking-shadowing`)
                  span(class="sub-item") Luyện phát âm (Shadowing)
              li
                a(href=`${prefixAdmin}/listening-video`)
                  span(class="sub-item") Luyện nghe (video)
        li(class="nav-item")
          a(class="collapsed" data-bs-toggle="collapse" href="#configuration" aria-expanded="false")
            i(class="fas fa-cog")
            p Cấu hình hệ thống
            span(class="caret")
          div(id="configuration" class="collapse")
            ul(class="nav nav-collapse")
              li
                a(href=`${prefixAdmin}/configs/score`)
                  span(class="sub-item") Điểm số luyện tập
              li
                a(href=`${prefixAdmin}/configs/credit-usage`)
                  span(class="sub-item") Chi phí luyện tập
              li
                a(href=`${prefixAdmin}/configs/payment`)
                  span(class="sub-item") Giao dịch thanh toán
        li(class="nav-item")
          a(href="#")
            i(class="fas fa-book")
            p Quản lý từ điển
        li(class="nav-item")
          a(href="#")
            i(class="fas fa-chart-bar")
            p Thống kê & Báo cáo
        li(class="nav-item")
          a(href="#")
            i(class="fas fa-brain")
            p Quản lý AI/LLM
        li(class="nav-item")
          a(href="#")
            i(class="fas fa-comments")
            p Phản hồi & Hỗ trợ
        li(class="nav-item")
          a(href="#")
            i(class="fas fa-cog")
            p Quản lý hệ thống

