header(class="header")
    div(class="container-fluid h-100")
        div(class="row align-items-center h-100")
            a(href="/" class="col-1")
                img(src=infoWebsite.url_logo alt=infoWebsite.name class="login-logo w-100")
            div(class="col-9")
                nav(class="navbar navbar-expand-lg")
                    div(class="navbar-nav")
                        div(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                i(class="fas fa-pencil-alt nav-icon")
                                |  Luyện viết
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="/writing-sentence/setup") Dịch câu
                                li
                                    a(class="dropdown-item" href="/writing-paragraph/setup") Dịch đoạn văn
                        div(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                i(class="fas fa-microphone nav-icon")
                                |  Luyện phát âm
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="/speaking-sentence") Luyện nói câu
                                li
                                    a(class="dropdown-item" href="/speaking-shadowing") Luyện nói Shadowing
                        div(class="nav-item")
                            a(class="nav-link" href="/listening-video/")
                                i(class="fas fa-headphones nav-icon")
                                |  Luyện nghe
                        div(class="nav-item")
                            a(class="nav-link" href="/introduction")
                                i(class="fas fa-info-circle nav-icon")
                                |  Về chúng tôi
                        div(class="nav-item")
                            a(class="nav-link" href="/ranking")
                                i(class="fas fa-trophy nav-icon")
                                |  Xếp hạng
            div(class="col-2 text-end")
                if user
                    div(class="header__actions")
                        div(class="header__avatar")
                            img(src=user.avatar alt="Avatar" class="header__avatar-img")
                            div(class="avatar-modal")
                                div(class="avatar-modal__header")
                                    img(src=user.avatar alt="Avatar" class="avatar-modal__avatar")
                                    div(class="avatar-modal__info")
                                        h4(class="avatar-modal__name") #{user.username}
                                        p(class="avatar-modal__email") #{user.email}
                                        div(class="avatar-modal__assets")
                                            span(class="avatar-modal__assets-text")
                                                | Tài sản: #{user.wallet.balance_credit || 0}
                                                i(class="fa-brands fa-bitcoin fs-6" style="color: #FFD43B;")
                                            a(href="/users/wallet" class="avatar-modal__topup-btn text-decoration-none") Quản lý ví
                                div(class="avatar-modal__divider")
                                div(class="avatar-modal__menu")
                                    a(href="/users/profile" class="avatar-modal__item")
                                        i(class="fas fa-user avatar-modal__icon")
                                        |  Thông tin cá nhân
                                    a(href="#" class="avatar-modal__item")
                                        i(class="fas fa-bookmark avatar-modal__icon")
                                        |  Bài viết đã lưu
                                    a(href="/users/history" class="avatar-modal__item")
                                        i(class="fas fa-history avatar-modal__icon")
                                        |  Lịch sử hoạt động
                                    a(href="/users/logout" class="avatar-modal__item")
                                        i(class="fas fa-sign-out-alt avatar-modal__icon")
                                        |  Đăng xuất
                else
                    div(class="header__actions")
                        a(href="/users/login" class="btn btn-primary") Đăng nhập
                        a(href="/users/register" class="btn btn-secondary") Đăng ký