header(class="header")
    div(class="container-fluid h-100")
        div(class="header__container")
            button(class="header__hamburger" type="button" aria-label="Mở menu" id="headerHamburger")
                i(class="fas fa-bars")
            a(href="/" class="header__logo")
                img(src=infoWebsite.url_logo alt=infoWebsite.name class="login-logo")
            nav(class="navbar navbar-expand-lg header__navbar")
                div(class="navbar-nav")
                    div(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                            i(class="fas fa-pencil-alt nav-icon")
                            |  Luyện viết
                        ul(class="dropdown-menu")
                            li
                                a(class="dropdown-item" href="/writing-sentence/setup") Dịch câu
                            li
                                a(class="dropdown-item" href="/writing-paragraph/setup") Dịch đoạn văn
                    div(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                            i(class="fas fa-microphone nav-icon")
                            |  Luyện phát âm
                        ul(class="dropdown-menu")
                            li
                                a(class="dropdown-item" href="/speaking-sentence") Luyện nói câu
                            li
                                a(class="dropdown-item" href="/speaking-shadowing") Luyện nói Shadowing
                    div(class="nav-item")
                        a(class="nav-link" href="/listening-video/")
                            i(class="fas fa-headphones nav-icon")
                            |  Luyện nghe
                    div(class="nav-item")
                        a(class="nav-link" href="/introduction")
                            i(class="fas fa-info-circle nav-icon")
                            |  Về chúng tôi
                    div(class="nav-item")
                        a(class="nav-link" href="/ranking")
                            i(class="fas fa-trophy nav-icon")
                            |  Xếp hạng
                    div(class="nav-item")
                        a(class="nav-link" href="/share-document")
                            i(class="fas fa-share-alt nav-icon")
                            |  Tài liệu chia sẻ
            div(class="header__actions")
                if user
                    div(class="header__avatar")
                        img(src=user.avatar alt="Avatar" class="header__avatar-img")
                        div(class="avatar-modal")
                            div(class="avatar-modal__header")
                                img(src=user.avatar alt="Avatar" class="avatar-modal__avatar")
                                div(class="avatar-modal__info")
                                    h4(class="avatar-modal__name") #{user.username}
                                    p(class="avatar-modal__email") #{user.email}
                                    div(class="avatar-modal__assets")
                                        span(class="avatar-modal__assets-text")
                                            | Tài sản: #{user.wallet.balance_credit || 0}
                                            i(class="fa-brands fa-bitcoin fs-6" style="color: #FFD43B;")
                                        a(href="/users/wallet" class="avatar-modal__topup-btn text-decoration-none") Quản lý ví
                            div(class="avatar-modal__divider")
                            div(class="avatar-modal__menu")
                                a(href="/users/profile" class="avatar-modal__item")
                                    i(class="fas fa-user avatar-modal__icon")
                                    |  Thông tin cá nhân
                                a(href="/users/bookmarks" class="avatar-modal__item")
                                    i(class="fas fa-bookmark avatar-modal__icon")
                                    |  Bài viết đã lưu
                                a(href="/users/history" class="avatar-modal__item")
                                    i(class="fas fa-history avatar-modal__icon")
                                    |  Lịch sử hoạt động
                                a(href="/users/logout" class="avatar-modal__item")
                                    i(class="fas fa-sign-out-alt avatar-modal__icon")
                                    |  Đăng xuất
                else
                    a(href="/users/login" class="btn btn-primary") Đăng nhập
                    a(href="/users/register" class="btn btn-secondary") Đăng ký
        nav(class="header__mobile-menu" id="headerMobileMenu")
            div(class="header__mobile-menu__content")
                a(class="header__mobile-menu__item" href="/writing-sentence/setup")
                    i(class="fas fa-pencil-alt")
                    |  Dịch câu
                a(class="header__mobile-menu__item" href="/writing-paragraph/setup")
                    i(class="fas fa-pencil-alt")
                    |  Dịch đoạn văn
                a(class="header__mobile-menu__item" href="/speaking-sentence")
                    i(class="fas fa-microphone")
                    |  Luyện nói câu
                a(class="header__mobile-menu__item" href="/speaking-shadowing")
                    i(class="fas fa-microphone")
                    |  Luyện nói Shadowing
                a(class="header__mobile-menu__item" href="/listening-video/")
                    i(class="fas fa-headphones")
                    |  Luyện nghe
                a(class="header__mobile-menu__item" href="/introduction")
                    i(class="fas fa-info-circle")
                    |  Về chúng tôi
                a(class="header__mobile-menu__item" href="/ranking")
                    i(class="fas fa-trophy")
                    |  Xếp hạng
                a(class="header__mobile-menu__item" href="/share-document")
                    i(class="fas fa-share-alt")
                    |  Tài liệu chia sẻ